{% extends "header.html" %}
{% block content %}

{# Display any error messages #}
{% if error_msg %}
  <b>{{ error_msg }}</b>
{% endif %}

{% if user %}

  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <img style="width:100%;max-width:200px" src="data:image/png;base64,{{user.pic_encoded}}" alt="image">
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <h1>{{ user.username }}</h1>
          </div>
          <div class="col">
            <h3>Followers: {{ follower_list|length }} Following: {{ following_list|length }}</h3>
          </div>
        </div>
        <div class="row">
          {% if user == current_user %}
            <form action="/edit">
              <div class="form-group">
                <button type="submit" class="btn btn-secondary" id="edit" name="edit">Edit Profile</button>
              </div>
            </form>
          {% else %}
          {# CHECK BEFORE rendering template and set bool is_following var #}
            {% if is_following %}
              <form action="{{ url_for('unfollow_user', username=user.username) }}">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" id="unfollow" name="unfollow">Following</button>
                </div>
              </form>
            {% else %}    
              <form action="{{ url_for('follow_user', username=user.username) }}">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" id="follow" name="follow">Follow</button>
                </div>
              </form>      
            {% endif %}
          {% endif %}
        </div>

        <div class="row">
          <p>
            {{ user.bio }}
          </p>
        </div>
      </div>  
    </div>
  </div>




<div class="row">
    <div class="col-md-12">
        <h2> {{ user.username }}'s reviews <small class="float-right">{{ reviews|length }} total reviews</small></h2>
        {% for review in reviews %}
        <div class="card text-center">
          <div class="card-header">
            {{ review.movie_title }} 
          </div>
          <div class="card-body">
            <img src="data:image/png;base64,{{user.pic_encoded}}" class="mr-3 movie" alt="alt text">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ review.content }}</li>
              <li class="list-group-item">{{ review.date }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
    </div>
</div> 
{% endif %}
{% endblock %} 