{% extends "header.html" %}
{% block content %}

<h1>Search Results</h1>
{% if businesses %}
<div class="restaurant-grid">
    {% for business in businesses %}
        <a href="{{ url_for('restaurant_detail', business_id=business.id) }}" clss="restaurant-item">
            <div class="restaurant-image">
                <img src="{{ business.image_url }}" alt="Restaurant Image">
            </div>
            <div class="restaurant-details">
                <h2>{{ business.name }}</h2>
                <p>Rating: {{ business.rating }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% else %}
    <p>No results found</p>
{% endif %}

{% endblock %}