body {
    background-color: #f4decb;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #94618e;
    color: #f8eee7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar-links > a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links > a:hover {
    color: #eeeeee;
}

.hero {
    background-image: url('https://www.doordash.com/static/media/header-by-desktop.503f17fc.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: #ffffff;
}

.card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card > img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #333333;
}

.card-description {
    font-size: 18px;
    margin: 10px 0;
    color: #555555;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #ff5200
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5200;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e04400;
}

.search-form { 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}

.search-input {
    padding: 10px;
    border-radius: 20px 0 0 20px; 
    border: none;
    width: 70%;
    font-size: 16px;
}
    
.search-button {
    background-color: #94618e; 
    color: #f8eee7;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #49274a;
    color: #f4decb;
} 